
#one{
	margin-top: 80px;
	padding:5px 10px 5px 0px;

}
.row{
	padding: 30px 10px 25px 0px; 
	margin-bottom: 0px;
	border-radius: 5px;
	margin-left:50px;
	margin-right:80px;
	border:;
}
.col{
	padding-right: 0px;
}
.block{
	display: block;
	
}  

.l1{
	color:#000;
}

#logo{
     
	width: 70px;
    height:60px;
	display: inline-block;

	}
	body{
		background-color:#e8e7e4 ;
  font-family: 'Raleway', sans-serif;

	}
	 .row{
		   background-color:#fff;
	
	}
	#time{
        font-weight: bold;     
      
	} 		
     .btn{
             background-color: #cb3904;
     }
     #p{
     	color:#E93C16;
     	font-size:17px;
     }

